:root {
    --linear-gradient-bg: #527ef5;
    --linear-gradient: linear-gradient(135deg, #52dff5aa, #5296f5aa, #4676fbaa);
}

.VPSidebar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.VPSidebar::-webkit-scrollbar-thumb {
    background-color: var(--vp-c-text-3);
    border-radius: 2.5px;
    background: linear-gradient(135deg, #52f0f57a, #505ef97f);
}

.VPNavBarTitle .logo {
    border-radius: 50%;
}

.dark .VPDocAside .outline-marker {
    background-color: #ffffff;
}


/* ----------------------------------
 * border
 * ------------------------------- */

/* .vp-doc h2, */
.prev-next,
.group+.group,
.pager-link,
.VPMenu,
.VPNavScreenMenuLink,
.VPNavScreenMenuGroup,
.VPDocAsideOutline.has-outline .content {
    border: 0px !important;
    position: relative;
}

/* .vp-doc h2::before, */
.prev-next::before,
.group+.group::before,
.pager-link::before,
.pager-link::after,
.VPMenu::before,
.VPMenu::after,
.VPNavScreenMenuLink::before,
.VPNavScreenMenuGroup::before,
.VPDocAsideOutline.has-outline .content::before,
.VPFooter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: var(--linear-gradient);
}

.pager-link:hover::before {
    filter: drop-shadow(0 0 8px var(--linear-gradient-bg));
 }

@media (min-width: 960px) {
    .VPNavBar:not(.home.top) .divider-line {
        background: var(--linear-gradient);
    }

    .VPNavBarTitle.has-sidebar .title {
        border: 0px !important;
        position: relative;
    }

    .VPNavBarTitle.has-sidebar .title::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--linear-gradient);
    }
}


/* bottom */

.VPNavBarTitle.has-sidebar .title::before,
.VPNavScreenMenuLink::before,
.VPNavScreenMenuGroup::before {
    top: auto;
    bottom: 0;
    left: 0;
}

/* left */

.VPDocAsideOutline.has-outline .content::before {
    width: 1px;
    height: 100%;
    background: var(--linear-gradient);
}

/* border */
.VPMenu,
.pager-link {
    z-index: 1;
}

.VPMenu::before,
.VPMenu::after,
.pager-link::before,
.pager-link::after {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 8px;
}

.VPMenu::before,
.VPMenu::after {
    border-radius: 12px;
}

.VPMenu::after,
.pager-link::after {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    left: 1px;
    top: 1px;
    background-image: none;
    background-color: var(--vp-c-bg);
}

/* VPHome */

.VPHome .tagline {
    color: transparent;
    background-image: var(--linear-gradient);
    background-clip: text;
    -webkit-background-clip: text;
}